body {
    color: #333;
    font-family: Arial;
    font-size: 12px;

    margin: 0;
    padding: 0;
}

.night {
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    background-color: #2a2a2e;
    color: rgba(249, 249, 250, 0.8);
  }
    a, a:visited {
        color: #45A1FF;
    }
}

header {
    color: rgba(249, 249, 250, 0.8);
    background-color: #202020;

    padding: 0 5em;
    height: 64px;
}
header>h1 {
    display: inline-block;
}

section {
    max-width: 1000px;
    padding: 0.5em 5em;
}

a:visited {
    color: blue;
}

.divider {
    border-top: 1px solid #ccc;
    margin: 1.5em 5em;
}


a.no-style, .night a.no-style {
    color: inherit;
    text-decoration: inherit;
}

.logo {
    vertical-align: middle;
}