body {
    color: #333;
    font-family: Arial;
    font-size: 12px;

    margin: 0;
    padding: 0;
}

header {
    padding: 0 5em;
}

section {
    max-width: 1000px;
    padding: 0.5em 5em;
}

a:visited {
    color: blue;
}

.divider {
    border-top: 1px solid #ccc;
    margin: 1.5em 5em;
}

.night {
    background-color: #2a2a2e;
    color: rgba(249, 249, 250, 0.8);
}
.night a, .night a:visited {
    color: #45A1FF;
}

a.no-style, .night a.no-style {
    color: inherit;
    text-decoration: inherit;
}